h1{
    color: #710d7a
}
.header {
    background-color:brown;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.menu{
    display: flex;
    flex-direction:column;
    justify-content: first baseline;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    display: flex;
    justify-content: flex-end;
}
p, h2{
    text-align:center;
}
*{
    border:ridge;
}
body{
    background-color: rgb(53, 111, 218);
}